<launch>

    

    <!-- Joystick driver-->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev_name" type="string" value="Logitech Logitech Extreme 3D" />
    </node>

    <!-- create a /cmd_vel command based on joystick values-->
   <node pkg="platform_joystick" type="joystickCmdVel" name="joystickCmdVel"/>


</launch>